<div *ngIf="products else loading">
    <div class="container my-5">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm);">
            <table class="table table-sm">
                <tr class="table-warning">
                    <td>ID</td>
                    <td><input class="form-control" required type="number" [(ngModel)]="product.id" name="id" /></td>
                    <td>Product</td>
                    <td><input class="form-control" required type="text" [(ngModel)]="product.name" name="name" /></td>
                    <td>Price</td>
                    <td><input class="form-control" required type="text" [(ngModel)]="product.price" name="price" />
                    </td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td><button [disabled]="!productForm.form.valid" class="btn btn-success">Add</button></td>
                </tr>
            </table>
        </form>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td><button (click)="onDelete(product)" class="btn btn-danger btn-sm">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loading>
    Loading....
</ng-template>

{{ swapi | json }}