<div class="container-fluid">
    <!-- <app-login [msg]="title" (msgChange)="onValueChange($event)"></app-login>
    {{ 'This is from the child component: ' + msgFromChild }} -->

    <!-- <app-directives></app-directives> -->
    <!-- <app-structural></app-structural> -->
    <!-- <app-forms-template></app-forms-template> -->
    <!-- <app-forms-model></app-forms-model> -->
    <!-- <app-di-demo></app-di-demo> -->
    <!-- <app-httpbasic></app-httpbasic> -->
    <!-- <app-pipes></app-pipes> -->
    <app-rest-client></app-rest-client>

    <!-- <a [routerLink]="['/welcome']">Home</a> &nbsp;&nbsp; <a [routerLink]="['/pipes']">Products</a>
    <router-outlet></router-outlet> -->

</div>
<!-- ng serve --proxy-config proxy.config.json -->
