<div class="container-fluid">
    <!-- <app-login [msg]="title" (msgChange)="onValueChange($event)"></app-login>
    {{ 'This is from the child component: ' + msgFromChild }} -->

    <!-- <app-directives></app-directives> -->
    <!-- <app-structural></app-structural> -->
    <!-- <app-forms-template></app-forms-template> -->
    <!-- <app-forms-model></app-forms-model> -->
    <!-- <app-di-demo></app-di-demo> -->
    <!-- <app-super-basic-http></app-super-basic-http> -->
    <!-- <app-httpbasic></app-httpbasic> -->
    <app-obs></app-obs>
    <!-- <app-http-parallel></app-http-parallel> -->
    <!-- <app-pipes></app-pipes> -->

    <!-- <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand">Demo App</a>
        <ul class="nav nav-pills">
            <li>
                <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Products</a>
            </li>
            <li>
                <a class="nav-link"  [routerLink]="['/checkout/lazy']" routerLinkActive="active">Checkout</a>
            </li>
        </ul>
    </nav>
    <p></p>
    <div class="card">
        <div class="card-header">
            This is the router-outlet
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
        <div class="card-body">
            Acme Corp
        </div>
    </div>  -->
    <!-- <footer>This is a footer</footer> -->
    <!-- <input (click)="toggle()" type=button value="I'm a button" [@buttontrigger]='btn_state' style="font-size : 20px; width: 100%; height: 100px;" /> -->
    <!-- <app-rest-client></app-rest-client> -->
    <!-- <app-chatclient></app-chatclient> -->

</div>
<!-- ng serve --proxy-config proxy.config.json -->